{% set pagetitle = "Metarefresh" | trans %}

{% extends "base.twig" %}

{% block content %}

{% if logentries %}
        <h1>{{ "Fetched metadata" | trans }}</h1>
        <ul>
            {% for logentry in logentries %}
            <li>{{ logentry }}</li>
            {% endfor %}
        </ul>
{% else %}
{{ "No output from metarefresh." | trans }}
{% endif %}

{% endblock content %}
